body {
  padding: 0;
  margin: 10px;
  box-sizing: border-box;
}

#content {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

button {
  border: 1px black solid;
  background-color: none;
}

button:hover {
  cursor: pointer;
}

.removeItem,
.editItem,
.removeProject {
  height: 25px;
  width: 25px;
  padding: 0;
  font-size: 20px;
}

#addnewproject {
  padding: 10px 20px;
}

.addItem {
  height: 25px;
  width: 100%;
  font-size: 20px;
  padding: 0;
}

.projectDiv {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px grey solid;
  padding: 10px;
  height: max-content;
}

.projectDiv > div {
  padding: 5px;
}

.itemDiv {
  border: 1px dotted grey;
  max-width: 100%;
}

.statusSpan {
  width: 10px;
  height: 10px;
  background-color: white;
  border: solid 1px black;
  padding: 0;
  margin-left: 5px;
}

.statusSpan:hover {
  cursor: pointer;
}

.statusSpanComplete {
  width: 25px;
  height: 25px;
  border: none;
  font-size: 18px;
  margin-left: 5px;
}

.projectHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.itemFooter {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
