body {
  padding: 0;
  margin: 10px;
  box-sizing: border-box;
}

#content {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

button,
input[type="button"],
input[type="submit"],
select {
  border: 1px black solid;
  background-color: none;
}

select {
  width: 30px;
}

button:hover {
  cursor: pointer;
}

.removeItem,
.editItem,
.removeProject,
.expandall {
  height: 25px;
  width: 25px;
  padding: 0;
  font-size: 20px;
}

.removeProject,
.sortProject,
.expandall,
.closeProject {
  border: none;
}

.expandall,
.closeProject {
  font-size: 16px;
}

.closeProject {
  padding: 0;
  margin: 0;
}

.sortProject {
  height: 25px;
  padding: 0;
  padding-right: 2px;
}

#addnewproject {
  padding: 10px 20px;
}

.addItem {
  height: 25px;
  width: 100%;
  font-size: 20px;
  padding: 0;
}

.projectDiv {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px grey solid;
  padding: 3px 10px 10px 10px;
  height: max-content;
  box-shadow: 0 0 0 2px white, 0 0 0 3px lightgrey;
}

#info {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0px 10px 10px 10px;
  height: max-content;
}

.projectDiv > div,
.infoPriority > div,
.infoDate > div {
  padding: 0px 10px 10px 10px;
}

.closeprojectdiv {
  padding: 0px !important;
}

.itemDiv {
  border: 1px dotted lightgrey;
  max-width: 100%;
}

.statusSpan {
  width: 10px;
  height: 10px;
  background-color: white;
  border: solid 1px black;
  padding: 0;
  margin-left: 5px;
}

.statusSpan:hover {
  cursor: pointer;
}

.statusSpanComplete {
  width: 25px;
  height: 25px;
  border: none;
  font-size: 18px;
  margin-left: 5px;
}

.projectHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2px;
  padding: 0px 0px 0px 3px !important;
}

.projectHeader > h2 {
  margin-top: 0px;
  flex-grow: 1;
}

.projectHeader > button {
  flex-shrink: 0;
}

.formDiv {
  padding-bottom: 0px !important;
}

.itemFooter {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.itemHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

label[for="checkList"]:after {
  content: "Separate list items with ';'";
  font-size: 12px;
}

ul {
  padding-left: 0;
}

ul li {
  list-style: none;
}

.taskNotComplete:before {
  font-family: "Line Awesome Free";
  content: "\F04D";
  color: black;
  font-weight: 900;
  padding-left: 15px;
  padding-right: 10px;
}

.taskNotComplete:hover {
  cursor: pointer;
}

li.taskComplete {
  text-decoration: line-through;
}

li.taskComplete:before {
  font-family: "Line Awesome Free";
  content: "\F14A";
  color: black;
  font-weight: 900;
  padding-left: 15px;
  padding-right: 10px;
  text-decoration: none;
  display: inline-block;
}

.priority5 i {
  border-radius: 25px;
  background-color: #ffccbc;
}

.priority3 i,
.priority4 i {
  border-radius: 25px;
  background-color: #fff9c4;
}

.priority1 i,
.priority2 i {
  border-radius: 25px;
  background-color: #dcedc8;
}

.itemCheckList p {
  margin-bottom: 5px;
}

.itemExpand,
.itemExpand > p {
  margin: 0;
  text-align: center;
  color: lightgrey;
}

.itemExpand:hover {
  cursor: pointer;
  color: black;
}

.itemTitle > h3 {
  margin-bottom: 0px;
}

.itemPriority > p {
  margin-bottom: 0px;
}

.closeprojectdiv {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

input[type="text"] {
  width: 93%;
}

.formNewItem {
  margin: 5px 0;
}
