body {
  padding: 0;
  margin: 10px;
  box-sizing: border-box;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  min-height: 98vh;
  display: flex;
  flex-direction: column;
}

#content {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

footer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

footer p {
  text-align: left;
}

button,
input[type="button"],
input[type="submit"],
select {
  border: 1px black solid;
  background-color: white;
}

select {
  width: 40px;
  text-align: center;
  border: 1px solid grey;
}

button:hover {
  cursor: pointer;
}

.removeItem,
.editItem,
.removeProject,
.expandall {
  height: 25px;
  width: 25px;
  padding: 0;
  font-size: 20px;
}

.removeProject,
.sortProject,
.expandall,
.closeProject {
  border: none;
}

.expandall,
.closeProject {
  font-size: 16px;
}

.closeProject {
  padding: 0;
  margin: 0;
}

.sortProject {
  height: 25px;
  padding: 0;
  padding-right: 2px;
}

#addnewproject {
  padding: 10px 20px;
}

.addItem {
  height: 25px;
  width: 100%;
  font-size: 20px;
  padding: 0;
}

.projectDiv {
  width: 300px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px grey solid;
  padding: 3px 10px 10px 10px;
  height: max-content;
  box-shadow: 0 0 0 2px white, 0 0 0 3px lightgrey;
}

#info {
  width: 250px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0px 10px 10px 10px;
  height: max-content;
}

.projectDiv > div,
.infoPriority > div,
.infoDate > div {
  padding: 0px 10px 10px 10px;
}

.closeprojectdiv {
  padding: 0px !important;
}

.itemDiv {
  border: 1px dotted lightgrey;
  max-width: 100%;
}

.projectDiv h4 {
  margin-bottom: 0px;
}

.statusSpan {
  width: 10px;
  height: 10px;
  background-color: white;
  border: solid 1px black;
  padding: 0;
  margin-left: 5px;
}

.statusSpan:hover {
  cursor: pointer;
}

.statusSpanComplete {
  width: 25px;
  height: 25px;
  border: none;
  font-size: 18px;
  margin-left: 5px;
}

.projectHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2px;
  padding: 0px 0px 0px 3px !important;
}

.projectHeader > h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  flex-grow: 1;
}

.projectHeader > button {
  flex-shrink: 0;
}

.formDiv {
  padding-bottom: 0px !important;
}

.itemFooter {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.itemHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

label[for="checkList"]:after {
  content: "Separate list items with ';'";
  font-size: 12px;
}

label[for="title"]:after {
  content: " (*required)";
  font-size: 12px;
}

ul {
  padding-left: 0;
}

ul li {
  list-style: none;
}

.taskNotComplete:before {
  font-family: "Line Awesome Free";
  content: "\F04D";
  color: black;
  font-weight: 900;
  padding-left: 15px;
  padding-right: 10px;
}

.taskNotComplete:hover {
  cursor: pointer;
}

li.taskComplete {
  text-decoration: line-through;
}

li.taskComplete:before {
  font-family: "Line Awesome Free";
  content: "\F14A";
  color: black;
  font-weight: 900;
  padding-left: 15px;
  padding-right: 10px;
  text-decoration: none;
  display: inline-block;
}

.priority5 i {
  border-radius: 25px;
  background-color: #ffccbc;
}

.priority3 i,
.priority4 i {
  border-radius: 25px;
  background-color: #fff9c4;
}

.priority1 i,
.priority2 i {
  border-radius: 25px;
  background-color: #dcedc8;
}

.itemCheckList p {
  margin-bottom: 5px;
}

.itemExpand,
.itemExpand > p {
  margin: 0;
  text-align: center;
  color: lightgrey;
}

.itemExpand:hover {
  cursor: pointer;
  color: black;
}

.itemTitle {
  max-width: 87%;
}
.itemTitle > h3 {
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: 600;
}

.itemPriority {
  flex-shrink: 0;
}

.itemPriority > p {
  margin-bottom: 0px;
}

.closeprojectdiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

input[type="text"],
input[type="url"] {
  width: 97%;
  border: 1px solid grey;
  margin-top: 5px;
  margin-top: 5px;
}

input[type="date"] {
  border: 1px solid grey;
  text-align: center;
}

.formNewItem {
  margin: 5px 0;
}

.formfooter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.formfooter input {
  width: 80px;
}

textarea {
  height: 100px;
  width: 97%;
}

input:focus {
  outline: none;
}

a {
  color: #70c2d8;
}

a:visited {
  color: #38616c;
}

a:hover {
  cursor: pointer;
}

@media screen and (max-width: 414px) {
  #content {
    flex-direction: column;
  }
  footer p {
    text-align: center;
  }
  .projectDiv {
    width: 94%;
  }
  #info {
    width: 80%;
    align-self: center;
  }
  input[type="date"],
  input[type="text"],
  input[type="url"],
  select:focus,
  textarea {
    font-size: 16px;
  }
}

@media screen and (min-width: 415px) and (max-width: 800px) {
  #content {
    width: 100%;
    flex-direction: column;
  }
  .projectDiv {
    width: 97%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .closeprojectdiv {
    width: 100%;
  }
  .itemDiv {
    width: 45%;
  }
  .projectHeader {
    width: 100%;
  }
  #info {
    flex-direction: row;
    width: 97%;
    justify-content: space-around;
  }
  #info h3 {
    margin-top: 0px;
  }
  #info button {
    height: max-content;
    width: 150px;
  }
  #info > div {
    width: 250px;
  }
  footer p {
    text-align: center;
  }
  .infoDate,
  .infoPriority {
    width: 200px;
  }

  #closestduedate {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
  #closestduedate > div {
    padding-left: 10px;
    padding-right: 10px;
  }

  #highestPriority {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
  #highestPriority > div {
    padding-left: 10px;
    padding-right: 10px;
  }
}
